@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((color: (primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // color-scheme: light;
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

@keyframes collapseOut {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

:root {
  --header-height: 64px;
}

.auth-page {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  mat-card {
    width: 100%;
    max-width: 56rem;
  }
}

.toast-success .mdc-snackbar__surface {
  background-color: #22c55e !important;
  color: white !important;
}

.toast-error .mdc-snackbar__surface {
  background-color: #ef4444 !important;
  color: white !important;
}